        <!-- START ARTICLE FEED -->
        <p id="notice"><%= notice %></p>
        <section class="articles">
            <div class="column is-8 is-offset-2">
                <%= render partial: 'posts/post', collection: @posts.sort_by(&:created_at).reverse%>
            </div>
            <%= link_to 'Nowe ogłoszenie', new_post_path if session[:admin] %>
        </section>
        <!-- END ARTICLE FEED -->
