
<p id="notice"><%= notice %></p>
<section class="articles">
    <div class="column is-8 is-offset-2">
        <%= render partial: 'posts/post', locals: {post: @post}%>
    </div>
    <%= link_to 'Dodaj ogłoszenie', new_post_path if session[:admin] %>
</section>
<%= link_to 'Powrót', root_path %>
